<div class="sidebar">
	<div class="site-title"><a href="{{ 'index' | relative_url }}">{{ site.title }}</a></div>
	<div class="site-description">
		<p>{{ site.description }}</p>
	</div>
	<ul class="menu">
		<li><a class="sidebar-nav-item{% if page.url == 'index' %} active{% endif %}" href="{{ 'index' | relative_url }}">Home &#8594</a></li>
		<li><a href="#">Get &#8594</a></li>
		{% assign thepages = site.pages %}
		{% for apage in thepages %}
			{% if apage.title != null %}
				{% if apage.layout == "page" %}
					<li><a class="{% if page.url == apage.url %} active{% endif %}" href="{{ apage.url | relative_url }}">{{ apage.title }} &#8594</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
		<li><a href="{{ site.github.repo }}/issues">Support &#8594</a></li>
	</ul>
	<div class="copyright">(C) {{ site.time | date: '%Y' }} {{ site.author.name }}</div>
</div>